body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#first {
  text-decoration: none;
  color: navy;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid navy;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

#first:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: navy;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(90deg);
  transition: transform 1s;
}

#first:hover:before {
  transform: rotate(0deg);
}

#first:hover {
  color: white;
}
