body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}

#fifth {
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid white;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

#fifth:before {
  content: "YEAH!";
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #20B2AA;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items:center;
  justify-content: center;
}

#fifth:hover:before {
  transform: translateY(0);
}
